<% include header %>

    <title>
        <%= title %>
    </title>
    </head>

    <body>
        <div class="container">

            <div class="text-center mt-5">
                <h1>
                    <%= title %>
                </h1>
            </div>

            <div class="col-md-4 col-sm-12" style="margin: auto;">
            
                
                <div class="card mt-5">
                    <img class="card-img-top" src="/images/img_avata.png" alt="image">
                    <div class="card-body">
                        <p class="card-text"><%= data.name %></p>
                    </div>
                </div>

                <div class="text-center">
                    <a href="/logout" class="btn btn-warning m-3"><span class="oi oi-account-logout"></span> logout</a>
                </div>


            </div>
        </div>
    </body>

    </html>